{% extends 'base.html' %}

{% block container %}
<div class="container">
	<div class="row demo-tiles ">
    <div class="col-xs-4 ">
      <div class="tile">
        <img src="/static/images/icons/png/html-icon.png" alt="XMI" class="tile-image big-illustration">
        <h3 class="tile-title">Importe diagrama em XMI</h3>
        <p> O sistema permite a importação de seu diagrama de caso de uso em formato XMI, facilitando a geração da arquitetura</p>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="tile">
        <img src="/static/images/icons/png/customizacao.png" alt="Infinity-Loop" class="tile-image">
        <h3 class="tile-title">Fácil Customização</h3>
        <p>Baseado em uma interface simples, o sistema permite que sejam inseridas as classes necessárias para a estruturação de todo o projeto</p>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="tile ">
        <img src="/static/images/icons/png/code.png" alt="Pensils" class="tile-image">
        <h3 class="tile-title">Código Padronizado</h3>
        <p>Após as transformações, é gerada uma estrutura codificada baseando-se na arquitetura de 3 camadas, utilizando-se os principais padrões de projeto</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}